@import url('https://fonts.googleapis.com/css2?family=Montserrat+Texte:wght@400;700&display=swap');
/* home */
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}
@keyframes shimmer {
  100% {
    mask-position: left
  }
}
.shimmer:hover {
  color: grey;
  display: inline-block;
  mask: linear-gradient(-90deg, #000 30%, #0005, #000 70%) right/60% 100%;
  animation: shimmer 5s infinite;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.main-container {
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
}
.overlay {
    background: rgb(0, 0, 0, 0.3);
    height: 100vh;
}
.nav-bar {
    padding-top: 30px;
}
.nav-bar .nav-menu {
    justify-content: center;
    display: flex;
    gap: 125px;
    border: 1px solid rgba(255, 255, 255, 0.31);
    margin: 0px 500px;
    padding: 20px;
    border-radius: 20px;
    line-height: 50px;
}
.nav-bar .nav-menu .logo {
    width: 50px;
}
.nav-bar .nav-menu .nav-item {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.nav-bar .nav-menu .nav-item:hover {
    color: #de87aa;
}
.home-container {
    justify-content: center;
    display: grid;
}
.home-container .title {
    font-size: 350px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    animation: bounce 1s infinite;
    animation-iteration-count: 3;
    margin-top: 10%;
}
.home-container .title:hover {
    animation: bounce 1s infinite;
}
.home-container .subtitle {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

/* about.html */
.about-container {
}