@import url('https://fonts.googleapis.com/css2?family=Montserrat+Texte:wght@400;700&display=swap');
/* home */
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}
@keyframes shimmer {
  100% {
    mask-position: left
  }
}
.shimmer:hover {
  color: grey;
  display: inline-block;
  mask: linear-gradient(-90deg, #000 30%, #0005, #000 70%) right/60% 100%;
  animation: shimmer 5s infinite;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.main-container {
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
}
.overlay {
    background: rgb(0, 0, 0, 0.3);
    height: 100vh;
}
.nav-bar {
    padding-top: 30px;
}
.nav-bar .nav-menu {
    justify-content: center;
    display: flex;
    gap: 125px;
    border: 1px solid rgba(255, 255, 255, 0.31);
    margin: 0px 500px;
    padding: 20px;
    border-radius: 20px;
    line-height: 50px;
}
.nav-bar .nav-menu .logo {
    width: 50px;
}
.nav-bar .nav-menu .nav-item {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.nav-bar .nav-menu .nav-item:hover {
    color: #de87aa;
}
.home-container {
    justify-content: center;
    display: grid;
}
.home-container .title {
    font-size: 350px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    animation: bounce 1s infinite;
    animation-iteration-count: 3;
    margin-top: 10%;
}
.home-container .title:hover {
    animation: bounce 1s infinite;
}
.home-container .subtitle {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

/* about.html */
.about {
    background-image: url(../images/about-image.jpg);
    background-size: cover;
    background-position: bottom;
}
.about .title {
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 5%;
    font-style: italic;
    font-weight: 700;
}
.about .info-container {
    background-color: #28323e;
    padding: 100px 400px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}
.about .section {
    margin-bottom: 50px;
    color: #fff;
}
.about .section .info-title {
    margin-bottom: 20px;
    font-size: 28px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #fff;
}
.about .section .info {
    line-height: 30px;
    font-weight: 300;
}
.about .section .beliefs-list {
    display: grid;
    grid-template-columns:  auto auto;
}
.about .section .beliefs-list li {
    line-height: 30px;
    list-style: none;
    font-size: 18px;
}
.about .section .beliefs-list i {
    display: list-item;
    font-size: 50px;
    list-style: none;
    margin-right: 20px;
}
.about .section .beliefs-list li span {
    display: list-item;
    padding-bottom: 20px;
    font-size: 16px;
}
.about .section .core-values-item {
    line-height: 30px;
    margin-left: 20px;
}
.about .section:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
}
.about .section .btn-primary {
    background: #d45c8c;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.about .section .btn-primary:hover {
    transform: translateY(-1px);
    background-color: #dc84ac;
}
.about .section .btn-primary a {
    text-decoration: none;
    color: #fff;
}
.about .section .btn-secondary {
    background: #dc84ac;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.about .section .btn-secondary:hover {
    transform: translateY(-1px);
    background-color: #d45c8c;
}
.about .section .btn-secondary a {
    text-decoration: none;
    color: #fff;
}